@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
--blue-color:#0090FF;
--white-color:#fffff0;
--font-family :"Inter", sans-serif;
--my-font-family :"Indie Flower", cursive;
--my-color:#00E5FF;
}

*{
  margin: 0;
padding: 0;
box-sizing: border-box;
font-family: var(--font-family);
}

